*.swp
bin/
pkg/
src/code.google.com
src/github.com
src/bitbucket.org
src/launchpad.net
src/gopkg.in
src/ngrok/client/assets/
src/ngrok/server/assets/
dl/
dist/
ngrokd-dashboard.json
ngrokd.pid
ngrokd.log*
*.pid
ngrokd-console.log
ngrok-test/
.mimosa/
.v2c/
.video_agent/
onenat-dashboard.json
onenat.log*
onenat-console.log
.DS_Store
